In [1]:
import csv
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
sd= pd.read_csv('spam.csv',encoding = "ISO-8859-1")
sd

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [4]:
sd2=sd.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1)
sd2

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [5]:
sms_data = sd2.rename(columns = {'v1': 'Label', 'v2': 'SMS'}, inplace = False)
sms_data

     Label                                                SMS
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [6]:
sms_data.shape

(5572, 2)

In [7]:
sms_data.groupby('Label').count()

        SMS
Label
ham    4825
spam    747

In [8]:
sms_data_clean = sms_data.copy()

In [9]:
sms_data_clean['SMS'] = sms_data_clean['SMS'].str.replace('\W+', ' ').str.replace('\s+', ' ').str.strip()

In [10]:
sms_data_clean['SMS'] = sms_data_clean['SMS'].str.lower()

In [11]:
sms_data_clean['SMS'] = sms_data_clean['SMS'].str.split()

In [12]:
sms_data_clean['SMS'].head()

0    [go, until, jurong, point, crazy, available, o...
1                       [ok, lar, joking, wif, u, oni]
2    [free, entry, in, 2, a, wkly, comp, to, win, f...
3    [u, dun, say, so, early, hor, u, c, already, t...
4    [nah, i, don, t, think, he, goes, to, usf, he,...
Name: SMS, dtype: object

In [13]:
sms_data_clean['Label'].value_counts() / sms_data.shape[0] * 100

ham     86.593683
spam    13.406317
Name: Label, dtype: float64

In [14]:
train_data = sms_data_clean.sample(frac=0.8,random_state=1).reset_index(drop=True)
test_data = sms_data_clean.drop(train_data.index).reset_index(drop=True)
train_data = train_data.reset_index(drop=True)

In [15]:
train_data['Label'].value_counts() / train_data.shape[0] * 100

ham     86.40646
spam    13.59354
Name: Label, dtype: float64

In [16]:
train_data.shape

(4458, 2)

In [17]:
test_data['Label'].value_counts() / test_data.shape[0] * 100

ham     86.983842
spam    13.016158
Name: Label, dtype: float64

In [18]:
test_data.shape

(1114, 2)

In [19]:
test_data.head()

  Label                                                SMS
0  spam  [welcome, to, uk, mobile, date, this, msg, is,...
1   ham  [this, is, wishing, you, a, great, day, moji, ...
2   ham  [thanks, again, for, your, reply, today, when,...
3   ham  [sorry, i, flaked, last, night, shit, s, serio...
4   ham  [he, said, i, look, pretty, wif, long, hair, w...

In [20]:
vocabulary = list(set(train_data['SMS'].sum()))

In [21]:
vocabulary[11:20]

['customers',
 'nit',
 'bank',
 'biola',
 'behalf',
 'naseeb',
 'romantic',
 'intend',
 'tron']

In [22]:
len(vocabulary)

7766

In [23]:
word_counts_per_sms = pd.DataFrame([
    [row[1].count(word) for word in vocabulary]
    for _, row in train_data.iterrows()], columns=vocabulary)

In [24]:
train_data = pd.concat([train_data.reset_index(), word_counts_per_sms], axis=1).iloc[:,1:]

In [25]:
train_data.head()

,Label,SMS,belly,em,gpu,latr,checkboxes,cried,thursday,faded,...,arrested,whether,apologise,stopped,8007,ability,breaker,finest,owned,southern
0,ham,"[convey, my, regards, to, him]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ham,"[û_, anyway, many, good, evenings, to, u, s]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ham,"[my, sort, code, is, and, acc, no, is, the, ba...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ham,"[sorry, i, din, lock, my, keypad]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,spam,"[hi, babe, its, chloe, how, r, u, i, was, smas...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
alpha = 1

In [27]:
Nvoc = len(train_data.columns) - 3

In [28]:
Pspam = train_data['Label'].value_counts()['spam'] / train_data.shape[0]

In [29]:
Pham = train_data['Label'].value_counts()['ham'] / train_data.shape[0]

In [30]:
Nspam = train_data.loc[train_data['Label'] == 'spam', 'SMS'].apply(len).sum()

In [31]:
Nham = train_data.loc[train_data['Label'] == 'ham','SMS'].apply(len).sum()

In [32]:
def p_w_spam(word):
    if word in train_data.columns:
        return (train_data.loc[train_data['Label'] == 'spam', word].sum() + alpha) / (Nspam + alpha*Nvoc)
    else:
        return 1

In [33]:
def p_w_ham(word):
    if word in train_data.columns:
        return (train_data.loc[train_data['Label'] == 'ham', word].sum() + alpha) / (Nham + alpha*Nvoc)
    else:
        return 1

In [34]:
def classify(message):
    p_spam_given_message = Pspam
    p_ham_given_message = Pham
    for word in message:
        p_spam_given_message *= p_w_spam(word)
        p_ham_given_message *= p_w_ham(word)
    if p_ham_given_message > p_spam_given_message:
        return 'ham'
    elif p_ham_given_message < p_spam_given_message:
        return 'spam'
    else:
        return 'needs human classification'

In [35]:
classify('secret')

'ham'

In [36]:
classify(['secret', 'source', 'of', 'infinite', 'power'])

'ham'

In [37]:
test_data['predicted'] = test_data['SMS'].apply(classify)

In [38]:
test_data.head()

  Label                                                SMS predicted
0  spam  [welcome, to, uk, mobile, date, this, msg, is,...      spam
1   ham  [this, is, wishing, you, a, great, day, moji, ...       ham
2   ham  [thanks, again, for, your, reply, today, when,...       ham
3   ham  [sorry, i, flaked, last, night, shit, s, serio...       ham
4   ham  [he, said, i, look, pretty, wif, long, hair, w...       ham

In [39]:
correct = (test_data['predicted'] == test_data['Label']).sum() / test_data.shape[0] * 100

In [40]:
test_data.loc[test_data['predicted'] != test_data['Label']]

,Label,SMS,predicted
54,spam,"[money, i, have, won, wining, number, 946, wot...",ham
97,ham,"[gettin, rdy, to, ship, comp]",spam
140,ham,"[have, you, laid, your, airtel, line, to, rest]",spam
216,spam,"[hi, babe, its, chloe, how, r, u, i, was, smas...",ham
243,ham,[anytime],spam
402,ham,"[nokia, phone, is, lovly]",spam
489,spam,"[hi, this, is, amy, we, will, be, sending, you...",ham
586,ham,"[we, have, sent, jd, for, customer, service, c...",spam
646,ham,"[a, boy, loved, a, gal, he, propsd, bt, she, d...",needs human classification
912,spam,"[dating, i, have, had, two, of, these, only, s...",ham

In [41]:
correct

99.10233393177738